@tailwind components;
@tailwind utilities;

@layer components {
  .dashboard {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
  }

  .dashboard__header {
    grid-column: span 2 / span 2;
  }

  .dashboard__sidebar {
    min-width: 250px;
  }
}
