@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply relative border border-gray-300/20 py-5 px-8 text-xs font-medium uppercase tracking-wider text-white hover:border-transparent;

    &::after {
      @apply absolute top-0 right-0 h-5 w-5 border-t-2 border-r-2 transition-all;
      content: '';
      transform: translate(1px, -1px);
    }

    &::before {
      @apply absolute bottom-0 left-0 h-5 w-5 border-b-2 border-l-2 transition-all;
      content: '';
      transform: translate(-1px, 1px);
    }

    &:hover::after,
    &:hover::before {
      @apply h-full w-full transform-none;
    }
  }
}
