@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply hover:underline;
  }

  .link--active {
    @apply underline;
  }

  .hero {
    background-image: linear-gradient(to bottom, #0008, #0009), url('/stripes-light.svg'), url('/hero-sm.jpg');
    background-size: auto, auto, cover;
    background-repeat: auto, repeat-y, no-repeat;
    background-position: 50%, 50%, bottom;
  }

  @screen md {
    .hero {
      background-image: url('/circles.svg'), url('/line.svg'), url('/stripes-light-md.svg'),
        url('/hero-md.jpg');
      background-size: auto, auto, auto, cover;
      background-repeat: no-repeat, no-repeat, repeat-y, no-repeat;
      background-position: 136px calc(50% - 50px), 50%, 50%, 127px bottom;
    }
  }

  .hero2 {
    background-image: url('/stripes-light.svg'), url('/hero2-sm.jpg');
    background-size: auto, cover;
    background-repeat: repeat-y, no-repeat;
    background-position: 50%, 50%, center;
  }

  @screen md {
    .hero2 {
      background-image: url('/stripes-light-md.svg'), url('/hero2-sm.jpg');
      background-size: auto, cover;
      background-repeat: repeat-y, no-repeat;
      background-position: 50%, 50%, center;
    }
  }

  .hero__subtitle {
    @apply text-2xs font-medium uppercase text-white;
  }

  .hero__title {
    @apply text-4xl font-semibold text-white;
  }

  .hero__text {
    @apply my-5 text-xs leading-5 text-white;
  }

  .navText {
    @apply text-sm font-medium uppercase text-navy-400;
  }

  .section {
    @apply bg-navy-900 pt-16 pb-8;
    background-image: linear-gradient(to bottom, theme('colors.navy-900/0'), theme('colors.navy-800/0.3')),
      url('/continent-tl.svg'), url('/stripes.svg'), url('/continent-br.svg');
    background-position: 50%, 0px 0px, center, 100% 100%;
    background-repeat: no-repeat, no-repeat, repeat-y, no-repeat;
  }

  @screen md {
    .section {
      @apply bg-navy-900 pt-16 pb-8;
      background-image: linear-gradient(to bottom, theme('colors.navy-900/0'), theme('colors.navy-800/0.3')),
        url('/continent-tl.svg'), url('/stripes-md.svg'), url('/continent-br.svg');
      background-position: 50%, 0px 0px, center, 100% 100%;
      background-repeat: no-repeat, no-repeat, repeat-y, no-repeat;
    }
  }

  .section2 {
    @apply bg-navyDark-500 py-10;
    background-image: url('/continent-tl.svg'), url('/stripes.svg'), url('/continent-br.svg');
    background-position: 0px 0px, center, 100% 100%;
    background-repeat: no-repeat, repeat-y, no-repeat;
  }

  @screen md {
    .section2 {
      @apply bg-navyDark-500 py-10;
      background-image: url('/continent-tl.svg'), url('/stripes-md.svg'), url('/continent-br.svg'),
        url('/plane-backdrop-md.jpg');
      background-position: 0px 0px, center, 100% 100%, bottom;
      background-repeat: no-repeat, repeat-y, no-repeat, no-repeat;
      background-size: auto, auto, auto, cover;
    }
  }

  .section__header {
    @apply flex flex-col items-center text-center;
  }

  .section__title {
    @apply text-3xl font-semibold text-white;
  }

  .section__subtitle {
    @apply text-2xs font-medium uppercase text-navy-200;
  }

  .square {
    @apply flex items-center justify-center border border-gray-700 p-2 text-xs font-medium text-navy-200;
  }

  .radio__item {
    @apply relative rounded-full border border-blue-500 p-2;
  }

  .radio__indicator {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-blue-500 p-1;
  }

  .card {
    @apply relative border border-navy-700 bg-navy-800 p-6;

    &::before {
      @apply absolute left-0 top-1/2 h-1/2 -translate-y-1/2 border-l border-navy-200;
      content: '';
    }
  }

  .card__title {
    @apply text-2xl font-semibold text-navy-200;
  }

  .card__subtitle {
    @apply text-base text-slate-300;
  }

  .card__description {
    @apply text-sm text-slate-400;
  }

  .card__icon {
    @apply w-12;
  }

  .input {
    @apply rounded-none border-b border-white/30 bg-transparent py-3 px-2 text-sm text-white placeholder:text-gray-300/70 focus:border-white;
  }

  .em {
    @apply font-semibold not-italic text-white;
  }
}

@layer utilities {
  .animate-dashoffset {
    animation: dashoffset 2s linear infinite reverse;
  }

  @keyframes dashoffset {
    100% {
      stroke-dashoffset: 80px;
    }
  }
}
