@tailwind base;
@tailwind components;
@tailwind utilities;

html.no-scroll {
  overflow: hidden !important;
  overflow-y: scroll !important;
  height: 100% !important;

  body {
    overflow: hidden !important;
    height: 100% !important;
  }
}

@layer base {
  html,
  body,
  #__next {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
}

@layer utilities {
}
