@tailwind base;
@tailwind components;
@tailwind utilities;

html.no-scroll {
  overflow: hidden !important;
  overflow-y: scroll !important;
  height: 100% !important;

  body {
    overflow: hidden !important;
    height: 100% !important;
  }
}

@layer base {
  :root {
    --darkGray-400: hsl(0, 0%, 65%);
    --darkGray-600: hsl(0, 0%, 22%);
    --mediumBlue-500: hsl(224, 81%, 50%);
  }

  @font-face {
    font-family: RFTone;
    src: url(/fonts/RFTone-Regular.woff2);
    font-weight: 400;
  }

  @font-face {
    font-family: RFTone;
    src: url(/fonts/RFTone-SemiBold.woff2);
    font-weight: 600;
  }

  @font-face {
    font-family: RFTone;
    src: url(/fonts/RFTone-Bold.woff2);
    font-weight: 700;
  }

  html,
  body,
  #__next {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: RFTone, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .cont {
    @apply px-5;
  }

  .menu {
    background-image: url(/paw-2.svg);
    background-position: center 70%;
    background-repeat: no-repeat;
  }

  .menu__list-item {
    @apply text-white;
  }

  .list {
    @apply flex flex-col gap-3;
  }

  .footer {
    background-image: url(/paw.svg);
    background-position: -10px 110px;
    background-repeat: no-repeat;
  }

  .footer__title {
    @apply text-white;
  }

  .footer__text {
    @apply text-darkGray-200;
  }

  .footer__strong {
    @apply text-white;
  }

  .footer__icon {
    @apply text-white;
  }

  .footer__button {
    @apply text-white;
  }

  .footer__section {
    @apply my-4;

    &_lg {
      @apply my-12;
    }
  }
}

@layer utilities {
  .text-2xs {
    font-size: 10px;
  }

  .text-med {
    font-size: 15px;
  }
}
