@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --violet: hsl(231, 100%, 90%);
    --violet-light: hsl(231, 88%, 97%);
    --blue-light: hsl(213, 100%, 91%);
    --green-light: hsl(115, 81%, 94%);
  }

  @font-face {
    font-family: 'Onest';
    src: url(/fonts/OnestMedium1602-hint.woff) format('woff');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Onest';
    src: url(/fonts/OnestBold1602-hint.woff) format('woff');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Onest';
    src: url(/fonts/OnestRegular1602-hint.woff) format('woff');
    font-weight: 400;
  }

  html,
  body,
  #__next {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Onest, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  em {
    @apply not-italic text-blue;
  }
}

@layer components {
  .decorate {
    @apply relative z-0;

    &::before {
      @apply absolute right-0 top-0 -z-10 translate-x-1 -translate-y-1 bg-violet-light;
      content: '';
      width: 26px;
      height: 50px;
    }
  }

  .decorate-center {
    @apply relative z-0;

    &::before {
      @apply absolute left-1/2 top-0 -z-10 -translate-x-1/2 bg-violet-light;
      content: '';
      width: 30%;
      height: 100%;
    }
  }

  .card-fade-8 {
    @apply relative;

    &::before {
      @apply absolute inset-0 -z-10 rounded-lg bg-white/20;
      content: '';
      transform: rotate(8deg);
    }
  }
  .-card-fade-8 {
    @apply relative;

    &::before {
      @apply absolute inset-0 -z-10 rounded-lg bg-white/20;
      content: '';
      transform: rotate(-8deg);
    }
  }

  .link {
    @apply text-blue-base;
  }

  .acc-item {
    @apply flex w-full flex-col;
  }

  .acc-trigger {
    @apply z-10 ml-4 rounded border-2 border-blue-base bg-white px-4 py-3 text-left text-xs font-medium text-blue-base;

    &[data-state='open'] {
      @apply border-navy bg-navy text-white;
    }
  }
}

@layer utilities {
  .big-shadow {
    box-shadow: 0px 9.34831px 15.8202px -3.59551px rgba(57, 81, 219, 0.27);
  }
}

html.no-scroll {
  overflow: hidden !important;
  overflow-y: scroll !important;
  height: 100% !important;

  body {
    overflow: hidden !important;
    height: 100% !important;
  }
}
