.main {
  background: url('/dots-mobile.svg');
  background-size: 90%;
  background-position: 10% 0;
  background-repeat: no-repeat;
}

.section {
  background-image: url('/dots-mobile-2.svg'),
    linear-gradient(to bottom, hsl(210, 75%, 97%), hsla(210, 75%, 97%, 0));
  background-size: 90%, auto;
  background-position: 10% 18px, 0 0;
  background-repeat: no-repeat;
}

.section2 {
  background-image: url('/dots-mobile-3.svg');
  background-size: 65%;
  background-position: 50% 14px;
  background-repeat: no-repeat;
}

.section3 {
  background-image: url('/dots-mobile.svg');
  background-size: 80%;
  background-position: 50% 18px;
  background-repeat: no-repeat;
}
