.main {
  background: url('/dots-mobile.svg');
  background-size: 90%;
  background-position: 10% 0;
  background-repeat: no-repeat;
}

.section {
  background-image: url('/dots-mobile-2.svg'),
    linear-gradient(to bottom, var(--violet-100), hsla(210, 75%, 97%));
  background-size: 90%, auto;
  background-position: 10% 18px, auto;
  background-repeat: no-repeat;
}

.section2 {
  background-image: url('/dots-mobile-3.svg');
  background-size: 65%;
  background-position: 50% 14px;
  background-repeat: no-repeat;
}

.section3 {
  background-image: url('/dots-mobile.svg');
  background-size: 80%;
  background-position: 50% 18px;
  background-repeat: no-repeat;
}

.cardContainer {
  @apply h-full flex-col justify-between p-4 md:flex md:p-10;
}

@media screen {
  .section {
    background: linear-gradient(to bottom, var(--violet-100), hsla(210, 75%, 97%));
  }
}
